@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
    .bg-hero {
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply bg-softBlue absolute rounded rounded-l-full top-52;
    }

    .bg-tabs {
        width: 2000px;
        height: 300px;
        right: 60%;
        @apply bg-softBlue absolute rounded rounded-r-full top-60;
    }
}

.panel-tag {
    @apply px-6 py-3 mt-4 font-semibold text-white border-2 border-white rounded-lg md:inline-flex bg-softBlue hover:bg-white hover:text-softBlue hover:border-softBlue hover:border-2;
}

.ficon:hover {
    filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
        brightness(101%) contrast(96%);
}

/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
    background: #000;
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
    position: fixed;
    /* top: 50px;
    right: 25px; */
    top: 20px;
    right: 15px;
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: #fff;
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: #fff;
}
